# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/
build/
.tmp/

# Env
.env
.env.*
!.env.example
server/.env.docker
.env.docker
.env.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Vite
.vite/
*.local

# Vercel
.vercel/shared/dist/
